<% include partials/header %>

<div class="container">
	<div class="row mt-2 col-md">
		<h2> Universitarios </h2>
	</div>
	<div class="row mt-3">		<!--inicio-->
		<div class="col-md-7">
			<table class="table table-hover">
				<thead class="table-dark">
					<th>Nro</th>
					<th>Cod</th>
					<th>Alumno</th>
					<th>Carrera</th>
					<th>Semestre</th>
					<th>Universidad</th>
				</thead>
				<tbody class="table-active">
					<% if(data) { %>
						<% for(var i=0; i < data.length; i++ ) { %>
						<tr>
							<td> <%= (i + 1) %> </td>
							<td> <%= data[i].codigo %> </td>
							<td> <%= data[i].nom %> </td>							
							<td> <%= data[i].carrera %> </td>
							<td> <%= data[i].ciclo %> </td>
							<td> <%= data[i].nombre %> </td>

						</tr>
						<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
		<div class="col-md-5">
			<div class="card">
				<div class="card-body">
					<form action="/add_u" method="post">
						<div class="form-group">
							<input type="text" name="codigo" placeholder="Ingrese su codigo" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" name="nombre" placeholder="Ingrese nombre de su universidad" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" name="carrera" placeholder="Ingrese su carrera" class="form-control">
						</div>
						<div class="form-group">
							<select name="ciclo" class="form-control">
								<option>1er Semestre</option>
								<option>2do Semestre</option>
								<option>3er Semestre</option>
								<option>4to Semestre</option>
								<option>5to Semestre</option>
								<option>6to Semestre</option>
								<option>7mo Semestre</option>
								<option>8vo Semestre</option>
								<option>9no Semestre</option>
								<option>10mo Semestre</option>
								<option>Otros</option>
							</select>
						</div>
						<div class="form-group">
							<input type="text" name="idusu" placeholder="Ingrese ID de estudiante" class="form-control">
						</div>
						<button type="submit" class="btn btn-primary">
							Save University
						</button>
						<a href="/add_uni" class="btn btn-danger"> pruebas </a>
					</form>
				</div>
			</div>
		</div>
	</div>			<!--final-->
</div>

<% include partials/footer %>